# Python関連
__pycache__/
*.py[cod]

# 仮想環境
venv/
venv1/
.venv/

# node module
server/node_modules/
server/node_modules
node_modules
*node_modules
server/package-lock.json/

# Whisper関連
whisper.cpp/
*whisper.cpp

# DB
*.db
*.sqlite3
*.sqlite3-shm
*.sqlite3-wal

# data
*uploads
/progress
*progress

# 一時・出力ファイル
tmp/
logs/
*.log

# アップロードされた動画・画像
server/uploads/
*.mp4
*.mov
*.avi
*.wav
*.m4a
*.png
*.jpg
*.jpeg

# OS / Editor
.DS_Store
.vscode/
.idea/
